// /*==========================================================================
// 	 BUSINESS ACTIVATION
// 	 ========================================================================== */

.breadcrumbs-custom-container {
    justify-content: center;
}


.title-decor {
    color: #080819;
    text-transform: none;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 85px;
    position: relative;
    margin-top: 54px;
    height: auto;
    display: block;
    text-align: left;
    &:before {
        content: "";
        border: 1px solid #000000;
        width: 78px;
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        left: 0; 
    }
}


html * + .offset-top-2 {
    margin-top: 27px;
    @media (min-width: 1600px) {
        margin-top: 27px;
    }
    @media (min-width: 768px) {
        margin-top: 27px;
    }
}



p .text-width-1 {
    margin-bottom: 25px;
    @media (min-width: 1600px) {
        margin-bottom: 44px;
    }
    @media (min-width: 768px) {
        margin-bottom: 29px;
    }
}


