// /*==========================================================================
// 	 FORM
// 	 ========================================================================== */

#myModal {
}

.modal {
  .modal-dialog {
    max-width: 540px;
  }

  .modal-header {
    display: block;
    border: none;
  }

  button.close {
    display: block;
    margin-left: auto;
  }

  .modal-title {
    font: 400 48px/48px "Myriad Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #0a091b;
    width: 100%;
    text-align: center;

    span {
      font-weight: 700;
    }

    @media (max-width: 500px) {
      font-size: 36px;
    }
  }

  .close {
    font-size: 0;
    opacity: .5;
    text-shadow: 0 1px 0 #fff;
    background: url("../images/close.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-position: center;
        &:hover {
            opacity: 1;
        }
    }

  .modal-body {
    padding-right: 20px;
    padding-left: 20px;

    @media (min-width: 500px) {
      padding-right: 90px;
      padding-left: 90px;
    }
    @media (min-width: 480px) {
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  .modal-content {
    @media (max-width: 575px) {
        height: 86%;
    }     
  }

  .form-group label {
    font: 700 13px/20px "Myriad Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: #0a091b;
    padding-left: 9px;
    padding-bottom: 10px;
    line-height: 1;
  }

  .form-control {
    font: 400 13px/20px "Myriad Pro", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: #0a091b;
    height: 48px;
    padding: 0 28px;
    line-height: 48px;
    border: 1px solid #0a091b;
    max-width: 360px;
    width: 100%;
  }

  textarea.form-control {
    height: 102px;
    line-height: 1.4;
    padding: 18px 28px;
  }

  .form-modal__text {
    font-family: "Myriad Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }

  .button {
    margin: 17px auto;
    display: block;
  }
}

/* end form */
