// /*==========================================================================
// 	 MAP
// 	 ========================================================================== */


@media screen and (max-width: 1199px) {
	.range > [class*='cell'] { 
		min-height: 300px;
	}
}

/* end map */