// /*==========================================================================
// 	 SERVICES
// 	 ========================================================================== */

.table thead th {
    border-bottom: 1px solid #e8e9ee;
}

@media (min-width: 1200px) {
    h1, .heading-1 {
        font-size: 68px;
    }
}

.breadcrumbs-custom {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        max-height: 456px;
        background-color: #000000;
        opacity: 0.6;
        top: 0;
        left: 0;
    }

    .breadcrumbs-custom-inner {
        z-index: 2;
    }
}