// /*==========================================================================
// 	 HEADER
// 	 ========================================================================== */
.rd-navbar-minimal.rd-navbar-static .rd-navbar-brand img {
  width: 69px;
  height: auto;
}

.rd-navbar-fixed .rd-navbar-brand img {
	width: 59px;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-main {
  @media (min-width: 1200px) {
    padding: 12px 0;
  }
}

.rd-navbar-minimal.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-main, .rd-navbar-minimal.rd-navbar-static.rd-navbar--is-clone .rd-navbar-main {
    padding: 12px 0;
}

@media (min-width: 1200px) {
	.rd-navbar-static .rd-nav-item + .rd-nav-item {
		margin-left: 40px;
	}
}
// search



.rd-navbar-static .rd-search {
	top: 44%;	
}

.rd-language-select {
	position: relative;	
	width: 65px;
	height: 17px;
	margin-left: 119px;
	display: none;
	@media (min-width: 992px) {
		display: flex;
	}
	@media (min-width: 320px) {
		display: none;
	}
}

.language-select {
	font: 400 14px/20px 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	display: inline-flex;
	color: #29293a;	
	flex-direction: column;
	text-transform: uppercase;
	min-width: 65px;
	height: 17px;
	overflow: hidden;
	order: 2;
	cursor: pointer;
	transition: all .3s;
	z-index: 100;
	align-items: flex-start;	
	position: relative;	
	
	@media (max-width: 979px) {
		display: none;
	}

	li {			
		display: inline-flex;
		height: 14px;
		transition: all .3s;
		margin-bottom: 10px;
		order: 2;
	}

	&:after {
		content: '\f236';;
		display: inline-block;
		position: absolute;
		font-family: 'Material Design Icons';
		right: 3px;
		transition: .22s;
	}
}

.language-select li:hover {
	cursor: pointer;	
	color: #4854ed;
}

.language-select.open {
	height: 45px;
}

.language-select li.active {	
	height: 14px;
	width: 100%;
	order: 1;
	margin-bottom: 16px;
	pointer-events: none;
	background: transparent;	
}

.language-select-mobile {
	
	@media (min-width: 992px) {
		display: none;
	}

	@media (min-width: 320px) {
		display: block;
		padding: 14px 56px 14px 18px;	
		color: #29293a;
	}

	&:hover {
		color: #fff;
		background: #4854ed;
		cursor: pointer;
	} 
	.language-select-mobile-item {
		display: inline-block;
		padding-left: 18px;
		font: 400 14px/20px 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
		text-transform: uppercase;
		position: relative;
		a {
			color: #29293a;
		}
		&:nth-child(n+2):before {
			content: "/";
			display: inline-block;
			font: 400 14px/20px 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
			color: #29293a;
			left: 4px; 
			position: absolute;
		}	
	}	
}



// footer

@media (min-width: 1200px) {
	.footer-standard-main {
		padding: 80px 0 21px;
	}
}

.footer-standard-aside {
    padding: 0 0 30px 0;
}


// /* end header */
