<!-- навиагация по страницам верстки / удалить на продакшене -->
<div id="pages-22" class="pages">
    <div id="toogle-23" class="pages-header">
        <p>Навигация страниц верстки</p>
        <span>GP</span>
        <i id="close-24" class="icon-pages"></i>
    </div>
</div>
<script>
    var pages = {
        'ГЛАВНАЯ': './',
        'UI': 'ui.html',
    };
    createList(pages);

    var pagesHeader = document.querySelector('#toogle-23');
    pagesHeader.addEventListener('click', function (event) {
        event.preventDefault();
        document.querySelector('#pages-22').classList.toggle('open');
    });

    function createList(pages) {
        var ulElement = document.createElement('UL');
        for (var key in pages) {
            var liElement = document.createElement('LI');
            liElement.innerHTML = `<a href="${pages[key]}">${key}</a>`;
            ulElement.appendChild(liElement);
        }
        document.querySelector('#pages-22').appendChild(ulElement);
    }
</script>